fastapi
uvicorn[standard]
grpcio>=1.60.0
grpcio-tools>=1.60.0
grpcio-reflection>=1.60.0
yagrc>=1.1.1
protobuf>=4.25.0
websockets
aiofiles
python-dotenv
pystray>=0.19.5
Pillow>=10.0.0
psutil>=5.9.0
pywebview>=5.0.5
pythonnet>=3.0.3
